table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.custom-table {
    display: flex;
    flex-direction: column;
/*    border: 1px solid black;  outer border */
/*    padding-left: 1px;*/
    border-collapse: collapse;
    font-family: sans-serif;
}

.row {
    display: flex;
    border-top: 1px solid black;
}

.row_top {
    display: flex;
}

.row_top > div { /* The change only applies to the direct children of  */
    flex: 1;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

.last_row_top_cell {
    border-right: 1px solid black;
}

.row_description {
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.row-top:first-child {
/*            border-left: none;*/
    border-left: none;

}

.cell {
    border-left: 1px solid black;
    padding: 10px 14px;
    min-width: 100px;
    background: #fff;
}
/*        
.cell:first-child {
    border-left: none;
}
*/