{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .custom-table {
            display: flex;
            flex-direction: column;
            border: 1px solid black; /* outer border */
            padding-left: 1px;
            border-collapse: collapse;
            font-family: sans-serif;
        }

        .row {
            display: flex;
            border-top: 1px solid black;
        }

        .row_top {
            display: flex;
        }

        .row_top > div { /* The change only applies to the direct children of  */
            flex: 1;
            text-align: center;
            padding: 10px;
            border-left: 1px solid black;
            box-sizing: border-box;
            border-bottom: 1px solid black;
        }

        .row_description {
            padding: 10px;
        }

        .row-top:first-child {
/*            border-left: none;*/
            border-left: none;

        }

        .cell {
            border-left: 1px solid black;
            padding: 10px 14px;
            min-width: 100px;
            background: #fff;
        }
/*        
        .cell:first-child {
            border-left: none;
        }
*/
    </style>
    -->
    <title>Job Search</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
</head>
<body>
    <!--
    <h1>Hello, World!</h1>
    <p>Welcome to your custom Django frontend.</p>
    <form method="post">
        {% csrf_token %}
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>
    -->
    <div>
        <h2>My Profile</h2>
        <ul id="Skills">
            Programming/Scripting/Markup Language(s)
            <ul id="Programming/Scripting/Markup Language">
                <li>C</li>
                <li>C++</li>
                <li>Java</li>
                <li>Python</li>
                <li>SQL</li>
                <li>JavaScript</li>
                <li>HTML5/CSS</li>
                <li>Bash</li>
                <li>Perl5</li>
            </ul>
            Concepts
            <ul id="Concept">
                <li>OOP - (Object-Oriented Programming)</li>
                <li>Software Development Life Cycle (SDLC): Agile Methodology</li>
                <!--<li></li>-->
                <!--<li>AI: NLP</li>-->
                <li>Regex</li>
            </ul>
            Software/Framework
            <ul id="Software/Framework">
                <li>Django</li>
            </ul>
            Tools
            <ul id="Tools">
                <li>Git</li>
                <li>Makefile</li>
            </ul>
            Database(s)
            <ul id="Database">
                <li>SQLite</li>
                <!--<li>MySQL</li>-->
                <li>LevelDB</li>
            </ul>
            Cloud Platform(s)
            <ul id="Cloud Platform">
                <!--<li>AWS</li>-->
            </ul>
    </div>
    <div>
        <h2>My Project(s)</h2>
        <ul>
            <li>Job Analyzer/Search</li>
            <li>Movie Filter/Recommendation System</li>
            <li>Distributed File System</li>
        </ul>
        <form id="" method="POST">
            {% csrf_token %}
            <div>
                <label for="project_name">Project Name:</label>
                <input type="text" id="project_name" name="project_name" required>
                <button type="submit">Add Project</button>
            </div>
            </br>
            <button class="green-button-layout">Add Project</button>
            <button class="grey-button-layout">Update Project</button>
        </form>
    </div>
    <h2>New Job Offer</h2>
    <form id="new_job_offer" method="POST">
        {% csrf_token %}
        <table style="padding-left: 10px">
            <tr>
                <td><label for="company_name">Company Name:</label></td>
                <td><input type="text" id="company_name" name="company_name"></td>
            </tr>
            <tr>
                <td><label for="job_id">Job ID:</label></td>
                <td><input type="text" id="job_id" name="job_id" placeholder="012335"></td>
            </tr>
            <tr>
                <td><label for="position">Position:</label></td>
                <td><input type="text" id="position" name="position" placeholder="Software Engineer"></td>
            </tr>
            <tr>
                <td><label for="date_posted">Date Posted:</label></td>
                <td><input type="text" id="date_posted" name="date_posted"></td>
            </tr>
            <tr>
                <td><label for="about_the_job">About the Job:</label></td>
                <td><textarea id="about_the_job" name="about_the_job" rows="9" cols="160" placeholder = "Type here..."></textarea></td>
            </tr>
            <tr>
                <td><label for="location">Location:</label></td>
                <td><input type="text" id="location" name="location" placeholder="City, State"></td>
            </tr>
            <tr>
                <td><label for="salary">Salary:</label></td>
                <td><input type="text" id="salary" name="salary" placeholder="$34k, $34,500, or $30-40k"></td>
            </tr>
                <td><label for="responsibilities">Responsibilities:</label></td>
                <td><textarea id="responsibilities" name="responsibilities" rows="9" cols="160" placeholder = "Type here..."></textarea></td>
            </tr>
            <tr>
                <td><label for="requirements">Requirements:</label></td>
                <td><textarea id="requirements" name="requirements" rows="9" cols="160" placeholder = "Type here..."></textarea></td>
            </tr>
            </tr>
                <td><label for="benefits">Benefits:</label></td>
                <td><textarea id="benefits" name="benefits" rows="9" cols="160" placeholder = "Type here..."></textarea></td>
            </tr>
        </table>
        <script>
        
            const company_name = document.getElementById('company_name');
            const job_id = document.getElementById('job_id');
            const position = document.getElementById('position');
            const about_the_job = document.getElementById('about_the_job');
            const job_location = document.getElementById('location');
            const salary = document.getElementById('salary');
            const responsibilities = document.getElementById('responsibilities');
            const requirements = document.getElementById('requirements');
            const benefits = document.getElementById('benefits');
    
            
            function extract_job_offer() {
                let name = company_name.value.trim();
                let id;
                if (!(job_id.value === "")) {
                    id = job_id.value;
                }
                
                let job_position = position.value.trim();
                let job_description = about_the_job.value.split('\n');
                job_description = job_description.map(function(item) { return item.trim(); });
                job_location = job_location.value.trim();
    
                let job_salary;
                if (!(salary.value === "")) {
                    job_salary = salary.value.trim();
                }
                
                let job_responsibilities = responsibilities.value.split('\n');
                job_responsibilities = job_responsibilities.map(function(item) { return item.trim(); });
                let job_requirements = requirements.value.split('\n');
                job_requirements = job_requirements.map(function(item) { return item.trim(); });
                let job_benefits = benefits.value.split('\n');
                job_benefits = job_benefits.map(function(item) { return item.trim(); });
    
                document.getElementById('popUpWindow').style.display = 'inline';
            }
            
            
            /*
            function fix_multiline_text(textarea) {
                // Split the text by new lines, trim each line, and join them back with a single new line
                return textarea.value.split('\n').map(function(item) { 
                    if (item.length === 0) {return item.trim(); }).join('\n');
            }
            */
    
            function fix_job_offer_format() {
                company_name.value = company_name.value.trim();
                job_id.value = job_id.value.trim();
                position.value = position.value.trim();
                
                //about_the_job.value = about_the_job.value.split('\n').map(function(item)  { return item.trim(); }).filter(line => line !== "").map(item => item = '- ' + item).join('\n');
                about_the_job.value = about_the_job.value.split('\n').map(item => item.trim()).filter(line => line !== "").map(item => item = '- ' + item).join('\n');
    
                job_location.value = job_location.value.trim();
                
                salary.value = salary.value.trim();
                
                responsibilities.value = responsibilities.value.split('\n').map(item => item.trim()).filter(line => line !== "").map(item => item = '- ' + item).join('\n');
                
                requirements.value = requirements.value.split('\n').map(item => item.trim()).filter(line => line !== "").map(item => item = '- ' + item).join('\n');
                
                benefits.value = benefits.value.split('\n').map(item => item.trim()).filter(line => line !== "").map(item => item = '- ' + item).join('\n');
            }
    
            function clear_job_offer() {
                company_name.value = '';
                job_id.value = '';
                position.value = '';
                about_the_job.value = '';
                job_location.value = '';
                salary.value = '';
                responsibilities.value = '';
                requirements.value = '';
                benefits.value = '';
            }
        </script>
        <!--
        <script>
            const company_name = document.getElementById('company_name');
            const job_id = document.getElementById('job_id');
            const position = document.getElementById('position');
            const about_the_job = document.getElementById('about_the_job');
            const location = document.getElementById('location');
            const salary = document.getElementById('salary');
            const responsibilities = document.getElementById('responsibilities');
            const requirements = document.getElementById('requirements');
            const benefits = document.getElementById('benefits');

            function clear_job_offer() {
                company_name.value = '';
                job_id.value = '';
                position.value = '';
                about_the_job.value = '';
                location.value = '';
                salary.value = '';
                responsibilities.value = '';
                requirements.value = '';
                benefits.value = '';
            }
        </script>
        -->
        <!--<button type="submit" onclick="document.getElementById(pop-up-window).style.display = block;">Add Job Offer</button>-->
        <button type="submit" class="green-button-layout" name="action" value="add_job_offer">Add Job Offer</button>
        <button type='button' class="grey-button-layout" onclick="fix_job_offer_format()">Fix Text Format</button>
        <button type="button" class="red-button-layout" onclick="clear_job_offer()">Cancel Job Offer</button>
    </form>

    <!--
    <div id="pop-up-window" class="pop-up-window">
        <div>Extracted Job Offer</div>
        <div id="pop-up-window-content"></div>

        <p>Are you ready to analyze the offer?</p>
        <form id="pop-up-window-feedback" method="POST">        
            // comment out!!! <label for="submit">Yes, </label>
            // comment out!!! <button id="submit" type="submit" style="background-color: green; color: white; border: 1px solid white;">Yes, Analyze</button>
            <button id="submit" type="submit" class="green-button-layout">Yes, Analyze</button>
            // comment out!!! <button id="cancel" type="button" style="background-color: red; color: white; border: 1px solid white;" onclick="">No, Cancel</button>
            <button id="cancel" type="button" class="red-button-layout" onclick="clear_job_offer()">No, Cancel</button>
        </form>
    </div>
    -->
    <h2>Job Offer(s)</h2>
    <form id="score_calculation" method="POST">
        {% csrf_token %}
        <button type="submit">Calculate Score</button>
    </form>
    </br>
    <form id="offer_update" method="POST">
        {% csrf_token %}
        <button type="button" onclick="document.getElementById('update-job-offer-window').style.display='block'" class="green-button-layout">Update Job Offer</button>
        <button type="button" onclick="document.getElementById('hide-job-offer-window').style.display='block'" class="grey-button-layout">Hide Job Offer</button>
        <button type="button" onclick="document.getElementById('remove-job-offer-window').style.display='block'" class="red-button-layout">Remove Job Offer</button>
    </form>
    </br>

    <div id="update-job-offer-window" class="pop-up-window">
        <div class="pop-up-window-content">
            <label for="close_button">Job Offer</label>
            <button name="close_button" type="button" onclick="document.getElementById('update-job-offer-window').style.display='none';" class="pop-up-window-close grey-button-layout" style="right: 10px">X</button>
            </br>
            <!--<span class="pop-up-window-close">&times;</span>-->
            <form method="POST">
                {% csrf_token %}
                <table style="padding-left: 10px">
                    <tr>
                        <td><label for="sql_id">SQL ID:</label></td>
                        <td><input type="text" id="sql_id" name="sql_id"></button></td>
                    </tr>
                    <tr>
                        <td>Use: applied, interview, offer, rejected, or withdrawn</td>
                    </tr>
                    <tr>
                        <td><label for="job_status">Application Status:</label></td>
                        <td><input type="text" id="application_status" name="job_status"></input></td>
                    </tr>
                </table>
                <button type="submit" class="green-button-layout" name="action" value="update_job_offer">Submit</button>
                <button type="button" class="red-button-layout" onclick="cancel_popup_window('update');">Cancel</button>
            </form>
        </div>
    </div>
    <div id="hide-job-offer-window" class="pop-up-window">
        <div class="pop-up-window-content">
            <label for="close_button">Job Offer</label>
            <button name="close_button" type="button" onclick="document.getElementById('hide-job-offer-window').style.display='none'" class="pop-up-window-close grey-button-layout">X</button>
            </br>
            <form method="POST">
                {% csrf_token %}
                <table style="padding-left: 10px">
                    <tr>
                        <td><label for="sql_id">SQL ID:</label></td>
                        <td><input type="text" id="hide_sql_id" name="sql_id"></button></td>
                    </tr>
                </table>
                <button type="submit" class="green-button-layout">Submit</button>
                <button type="button" class="red-button-layout" onclick="cancel_popup_window('hide');">Cancel</button>
            </form>
        </div>
    </div>
    <div id="remove-job-offer-window" class="pop-up-window">
        <div class="pop-up-window-content">
            <label for="close_button">Job Offer</label>
            <button name="close_button" type="button" onclick="document.getElementById('remove-job-offer-window').style.display='none'" class="pop-up-window-close grey-button-layout">X</button>
            </br>
            <form action="#" method="POST">
                {% csrf_token %}
                <table style="padding-left: 10px">
                    <tr>
                        <td><label for="sql_id">SQL ID:</label></td>
                        <td><input type="text" id="remove_sql_id" name="sql_id"></button></td>
                    </tr>
                    <!--
                    <tr>
                        <td><label for="job_field">Status:</label></td>
                        <td><input type="text" name="job_field"></input></td>
                    </tr>
                    -->
                </table>
                <button type="submit" class="green-button-layout">Submit</button>
                <button type="button" class="red-button-layout" onclick="cancel_popup_window('remove');">Cancel</button>
            </form>
        </div>
    </div>
    <script>
        function cancel_popup_window(id) {
            document.getElementById(id+'-job-offer-window').style.display = 'none';

            switch (id) {
            case 'update':
                document.getElementById("update_sql_id").value = '';
                document.getElementById("application_status").value = '';
                break;
            case 'hide':
                document.getElementById("hide_sql_id").value = '';
                break;
            case 'remove':
                document.getElementById("remove_sql_id").value = '';
                break;
            }
        }
    </script>
    <!--
    <table id="Job Offer table" style="width:100%">
        <tr id="">
            <th>Company Name</th>
            <th>Job ID</th>
            <th>Position</th>
            <th>About the Job</th>
            <th>Location</th>
            <th>Salary</th>
            <th>Responsibilities</th>
            <th>Requirements</th>
            <th>Language(s)</th>
            <th>Technology</th>
            <th>Benefits</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>Village Labs</td>
            <td></td>
            <td>Software Engineer</td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li>We've built a product customers love, and we can't fully keep up with customer demand. We need a talented, ambitious, hard-working software engineer with 2+ years of experience who can help us build this rocket ship while we're flying it.</li>
                    <li>You are that person. You are bought in to our mission and our product, and are capable of learning and growing with our business and our product.</li>
                    <li>You will be one of the first employees at a mission-driven and fast-growing startup. You are ambitious and hard-working, but you (like us!) also believe in putting people first and having a huge amount of fun while you do your job 😁 .</li>
                    <li>You are a hungry software developer who is capable of thought leadership and high-quality code output. You love to take ambiguous business problems and build technology to solve them across our tech stack. You are also autonomous and happy to take on big projects.</li>
                    <li>You’re driven by a desire to solve problems day-in and day-out, at scale. You can quickly understand how something works, even when you haven’t seen it before.</li>
                    <li>But you’re more than just your code! You love building a culture where people love to work (❤️). As one of the first employees, you’ll be integral to the long-term culture of Village and future employees will rely on you as a role model. You’ll be empathetic, hard-working, passionate, good at giving constructive feedback and, of course, having lots of fun.</li>
                </ul>
            </td>
            <td>Atlanta, GA</td>
            <td></td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li id="responsibility_1"> Take on all the different varied projects that only an early-stage startup can throw at you</li>
                    <li id="responsibility_2"> Work closely with our Product team to continuously improve our product and develop new solutions to user needs</li>
                    <li id="responsibility_3"> Learn and build across the web and data stack as the team needs you, taking ownership over core features when needed</li>
                    <li id="responsibility_4"> Maintain thorough test coverage on your code–we’re all owners here</li>
                    <li id="responsibility_5"> Guide the early Village technical architecture decisions that will resonate throughout the global economy for years to come 🤯 </li>
                    <li id="responsibility_6"> Be a thought leader, working directly with the founders to set and ship the vision</li>
                    <li id="responsibility_7"> Establish the Village engineering culture–live the mission and set a standard </li>
                    <li id="responsibility_8"> Have an inordinate amount of fun</li>
                </ul>
            </td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li id="requirement_1">Bachelors and/or master’s degree, computer science preferred</li>
                    <li id="requirement_2">2+ years professional experience in one or more programming languages (e.g., Python, C, C++, Java, JavaScript)</li>
                    <li id="requirement_3">Strong communication and collaboration skills </li>
                    <li id="requirement_4">Excitement, ambition, and fun</li>
                    <li id="requirement_5">Experience in React, Nextjs, and TypeScript is nice to have</li>
                </ul>
            </td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li id="language_1">Python</li>
                    <li id="language_2">C</li>
                    <li id="language_3">C++</li>
                    <li id="language_4">Java</li>
                    <li id="language_5">JavaScript</li>
                </ul>
            </td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li id="technology_1">React</li>
                    <li id="technology_2">Nextjs</li>
                    <li id="technology_3">Typescript</li>
                </ul>
            </td>
            <td style="text-align: left; vertical-align: top;">
                <ul>
                    <li id="benefit_1">A team of talented high achievers that values and invests in its people</li>
                    <li id="benefit_2">Unlimited paid time off</li>
                    <li id="benefit_3">Medical, dental, and vision</li>
                    <li id="benefit_4">Early and generous employee stock option plan</li>
                    <li id="benefit_5">$100 monthly health and wellness benefit</li>
                    <li id="benefit_6">401(k) plan</li>
                    <li id="benefit_7">Paid family leave</li>
                    <li id="benefit_8">Apple products</li>
                </ul>
            </td>
            <td></td>
        </tr>
    </table>
    -->
    <div class="custom-table">
        <div class="custom-table-header" style="display: flex;">
            <div class="custom-table-header-cell">Company Logo</div>
            <div class="custom-table-header-cell">SQL ID</div>
            <div class="custom-table-header-cell">Company Name</div>
            <div class="custom-table-header-cell">Job ID</div>
            <div class="custom-table-header-cell">Position</div>
            <div class="custom-table-header-cell">Location</div>
            <div class="custom-table-header-cell">Salary</div>
            <div class="custom-table-header-cell">Date Posted</div>
            <div class="custom-table-header-cell">Date Applied</div>
            <div class="custom-table-header-cell">Application Status</div>
            <div class="custom-table-header-cell" style="border-right: 1px solid black;">Score</div>
        </div>
        <!--
        <div class="row_job">
            <div class="row_top">
                <div class="cell_company_logo">-->
                    <!--<img src="{% static 'myapp/village-labs-logo.png' %}" style="width: 50px; height: 50px;">-->
                    <!--
                </div>
                <div></div>
                <div class="cell_company_name">Village Labs</div>
                <div>N/A</div>
                <div class="cell_job_id">N/A</div>
                <div class="cell_job_position">Software Engineer</div>
                <div class="cell_job_location">Atlanta, GA</div>
                <div class="cell_job_salary">N/A</div>
                <div>Pending</div>
                <div class="last_row_top_cell" style="border-right: 1px solid black;"></div>
            </div>
            <div class="row_description">
                <div class="cell_about_the_job">
                    About the Job
                    <ul>
                        <li>We've built a product customers love, and we can't fully keep up with customer demand. We need a talented, ambitious, hard-working software engineer with 2+ years of experience who can help us build this rocket ship while we're flying it.</li>
                        <li>You are that person. You are bought in to our mission and our product, and are capable of learning and growing with our business and our product.</li>
                        <li>You will be one of the first employees at a mission-driven and fast-growing startup. You are ambitious and hard-working, but you (like us!) also believe in putting people first and having a huge amount of fun while you do your job 😁 .</li>
                        <li>You are a hungry software developer who is capable of thought leadership and high-quality code output. You love to take ambiguous business problems and build technology to solve them across our tech stack. You are also autonomous and happy to take on big projects.</li>
                        <li>You’re driven by a desire to solve problems day-in and day-out, at scale. You can quickly understand how something works, even when you haven’t seen it before.</li>
                        <li>But you’re more than just your code! You love building a culture where people love to work (❤️). As one of the first employees, you’ll be integral to the long-term culture of Village and future employees will rely on you as a role model. You’ll be empathetic, hard-working, passionate, good at giving constructive feedback and, of course, having lots of fun.</li>
                    </ul>
                </div>
                <div class="cell_responsibilities">
                    Responsibilities
                    <ul>
                        <li id="responsibility_1"> Take on all the different varied projects that only an early-stage startup can throw at you</li>
                        <li id="responsibility_2"> Work closely with our Product team to continuously improve our product and develop new solutions to user needs</li>
                        <li id="responsibility_3"> Learn and build across the web and data stack as the team needs you, taking ownership over core features when needed</li>
                        <li id="responsibility_4"> Maintain thorough test coverage on your code–we’re all owners here</li>
                        <li id="responsibility_5"> Guide the early Village technical architecture decisions that will resonate throughout the global economy for years to come 🤯 </li>
                        <li id="responsibility_6"> Be a thought leader, working directly with the founders to set and ship the vision</li>
                        <li id="responsibility_7"> Establish the Village engineering culture–live the mission and set a standard </li>
                        <li id="responsibility_8"> Have an inordinate amount of fun</li>
                    </ul>
                </div>
                <div class="cell_requirements">
                    Requirements
                    <ul>
                        <li id="requirement_1">Bachelors and/or master’s degree, computer science preferred</li>
                        <li id="requirement_2">2+ years professional experience in one or more programming languages (e.g., Python, C, C++, Java, JavaScript)</li>
                        <li id="requirement_3">Strong communication and collaboration skills </li>
                        <li id="requirement_4">Excitement, ambition, and fun</li>
                        <li id="requirement_5">Experience in React, Nextjs, and TypeScript is nice to have</li>
                    </ul>
                </div>
                <div class="cell_benefits">
                    Benefits
                    <ul>
                        <li id="benefit_1">A team of talented high achievers that values and invests in its people</li>
                        <li id="benefit_2">Unlimited paid time off</li>
                        <li id="benefit_3">Medical, dental, and vision</li>
                        <li id="benefit_4">Early and generous employee stock option plan</li>
                        <li id="benefit_5">$100 monthly health and wellness benefit</li>
                        <li id="benefit_6">401(k) plan</li>
                        <li id="benefit_7">Paid family leave</li>
                        <li id="benefit_8">Apple products</li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        {% for job_posting in job_postings %}
        <div>
            <div class="row_top">
                <div></div>
                <div>{{ job_posting.sql_id }}</div>
                <div>{{ job_posting.company }}</div>
                <div>{{ job_posting.job_id }}</div>
                <div>{{ job_posting.position }}</div>
                <div>{{ job_posting.location }}</div>
                <div>{{ job_posting.salary }}</div>
                <div>{{ job_posting.date_posted }}</div>
                <div>{{ job_posting.date_applied }}</div>
                <div>{{ job_posting.application_status }}</div>
                <div style="border-right: 1px solid black;">{{ job_posting.fit_score }}</div>
            </div>
            <div class="row_description">
                <div>
                    About the Job
                    <ul>
                        {% for description_bullet in job_posting.description%}
                        <li>{{ description_bullet }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    Responsibilities
                    <ul>
                        {% for responsibility in job_posting.responsibilities %}
                        <li>{{ responsibility }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    Requirements
                    <ul>
                        {% for requirement in job_posting.requirements %}
                        <li>{{ requirement }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    Benefits
                    <ul>
                        {% for benefit in job_posting.benefits %}
                        <li>{{ benefit }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    Job Offer Skills
                    <ul>
                        {% for skill in job_posting.skills %}
                        <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    My Applicable Skill(s)
                    <ul>
                        {% for my_skill in job_posting.my_skills %}
                        <li>{{ my_skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
